<div class="p-3">
<div class="form-group d-flex">
  <label class="fw-bold">Filter City: &nbsp; </label>
  <input [(ngModel)]='City' class="form-control w-50">
  <button type="button" class="btn btn-primary mx-2" style="width: 100px;" (click)="onCityFilter()">Search</button>
  <button type="button" class="btn btn-primary"style="width: 100px;" (click)="onCityFilterClear()">Clear</button> &nbsp;
  <label class="fw-bold ms-3">Sort by &nbsp;</label>
  <select [(ngModel)] = 'SortbyParam'>
    <option value="City">City</option>
    <option value="Price">Price</option>
  </select>
  <button type="button" class="btn btn-primary ms-2" (click) = "onSortDirection()">
    <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
    <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
  </button>
</div>
</div>

<div class="row">
  <div class="shadow-lg col-sm-4" *ngFor="let property of properties|filter:SearchCity:'City' |sort:[SortbyParam,SortDirection]">
    <app-property-card [property]="property"></app-property-card>
  </div>
</div>
