<div class="p-3 row d-flex align-items-center flex-wrap">
<div class=" m-auto col-lg-8 p-0 d-flex align-items-center flex-wrap">
  <label class="fw-bold">Filter City: &nbsp; </label>
  <input [(ngModel)]='City' class="form-control w-50">
  <button type="button" class="btn btn-primary m-2"  (click)="onCityFilter()">Search</button>
  <button type="button" class="btn btn-primary " (click)="onCityFilterClear()">Clear</button> &nbsp;
</div>
<div class="col-lg-4 p-0 d-flex align-items-center ">
  <label class="fw-bold ms-3">Sort by &nbsp;</label>
  <select [(ngModel)] = 'SortbyParam' class="form-control w-50">
    <option value="City">City</option>
    <option value="Price">Price</option>

  </select>
  <button type="button" class="btn btn-primary m-2" (click) = "onSortDirection()">
    <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
    <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
  </button>

</div>

<div class="row">
  <div class="shadow-lg col-sm-4" *ngFor="let property of properties|filter:SearchCity:'City' |sort:[SortbyParam,SortDirection]">
    <app-property-card [property]="property"></app-property-card>
  </div>
</div>
