<div class="card p-2 m-2">
<div class="card-img-wrapper">
  <img *ngIf="!property.Image" class="card-img-top" src="assets/Images/prop-default.png" alt="PropImg" />
  <img *ngIf="property.Image" class="card-img-top" src="assets/Images/{{property.Image}}" alt="PropImg" />
  <ul *ngIf="!hideIcons" class="list-inline text-center img-icons">
    <li class="list-inline-item"><button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}"><i class="fa-solid fa-pen"></i></button></li>
    <li class="list-inline-item"><button class="btn btn-primary"><i class="fa-solid fa-eye"></i></button></li>
  </ul>
</div>
<div class="card-body p-1">
  <h1 class="mb-0 card-title"> {{property.BHK}} BHK {{property.PType}} </h1>

  in {{property.Name}}
  <span *ngIf="property.Name">,</span>
  {{property.City}}

  <h6  class="mt-2">{{property.FType}}
  <span *ngIf="property.FType !== 'Unfurnished'">Furnished</span> | Ready to Move</h6>

  <hr class="mt-0 mb-2">

  <h6 class="mb-0">Price: <span class>{{property.Price | currency}}</span> |
    Area:  <span>{{property.BuiltArea}} &#13217; </span> </h6>
</div>
</div>
